.mainBody { /* place content here */
    margin: 20px;
    margin-left: 6%;

}

.mainCover {
    border:solid 3px black;
    font-weight: bold;
    font-family: "Copperplate Gothic";
    color: black;
    position: center, fixed;
    background-color: #f1f1f1;
    padding: 25px;
    text-align: center;
    font-size: 50px;
    background-image: url('Cover_Img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

    .mainCover p {
        color:#1A1D23
    }

.text {
    margin: 4% 5% 2% 5%;
    color: #1A1D23
}

p {
    color: white;
}

